/* === COLORS === */

:root {
				--bg1trans: #2e344066;
				--bg2trans: #3b425266;
				--bg3trans: #434c5e66;
				--bg4trans: #4c566a66;
				--bg1: #2e3440;
				--bg2: #3b4252;
				--bg3: #434c5e;
				--bg4: #4c566a;
				--fg: #FFFFFF;
				--c1: #bf616a;
				--c2: #d08770;
				--c3: #ebcb8b;
				--c4: #a3be8c;
				--c5: #b48ead;
}

/* === MAIN STYLES === */

* {
				box-sizing: border-box;
				scroll-behavior: smooth
}

body {
				background-color: var(--bg1);
				color: var(--fg);
				margin: 0;
}

.content > * {
				padding: 1em 2em;
}

#content {
				padding: 0;
}

section {
				text-align: center;
}

a {
				color: var(--fg);
				text-decoration: none;
}

img {
				max-width: 100%;
}

/* === BTNS === */

.btn {
				padding: 0.5em 1em;
				background-color: var(--bg4);
				border-radius: 0.5em;
				transition: 0.3s;
}

.btn:hover {
				filter: brightness(80%);
}

.btn-primary {
				background-color: var(--c4);
				color: black;
}

.btn-secondary {
				background-color: var(--c5);
				color: black;
}

/* === TYPOGRAPHY === */

@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
				font-family: 'Ubuntu', sans-serif;
}

h1 {
				font-size: 2.5em;
}

p {
				line-height: 1.7;
}

/* === HERO === */

#hero-blob {
				position: absolute;
				z-index: -1;
}

.hero-title {
		font-size: 3em;
		margin-bottom: 0px;
}

.hero div {
				text-align: center;
				margin: 2em;
				flex-grow: 1;
}

.hero-image {
				border-radius: 0.4em;
				animation-name: float;
				animation-duration: 5s;
				animation-iteration-count: infinite;
				animation-timing-function: ease-in-out;
}

@keyframes float {
				0%, 100% {
								transform: translateY(-0.35em)
				}
				50% {
								transform: translateY(0.35em)
				}
}

/* === NAVBAR === */

.nav {
				display: flex;
				align-items:center;
				position: sticky;
				z-index: 10;
				top: 0;
				backdrop-filter: blur(5px);
				background-color: var(--bg2trans);
				padding: 1em 2em;
}

.nav-text {
				flex-grow: 1;
				text-align: center;
				font-weight: bold;
}

.nav-menu {
				cursor: pointer;
				overflow: visible;
}

.nav-items {
				flex-grow: 1;
				text-align: center;
}

.nav-items > * {
				margin: 0.4em;
}

/* === OTHER === */

.center {
				display: grid;
				justify-content: center;
				text-align: center;
}

#content {
  position: sticky;
  top: 0;
}

.icon {
				height: 1.5em;
				width: 1.5em;
}

/* === MENU ICON TRANSITION === */

@keyframes scale {
			0%,100% {
				transform: scaleX(1);
			}
			50% {
				transform: scaleX(1.3);
			}
}

#menuline1 {animation-delay: 0s}
#menuline2 {animation-delay: 0.1s}
#menuline3 {animation-delay: 0.2s}

#menuline1, #menuline2, #menuline3 {
				transform-origin: center;
}

.nav-menu:hover #menuline1,
.nav-menu:hover #menuline2,
.nav-menu:hover #menuline3 {
				animation-name: scale;
				animation-duration: 0.3s;
}

/* === RESPONSIVE === */

/* super small displays */
@media (max-width: 13em) {
				.nav-text {
								display: none;
				}
}

/* mobile displays and smaller */
@media (max-width: 30em) {
				.nav-items {
								display: none;
				}

				.container {
								display: flex;
								overflow-y: auto;
								height: 100vh;/*height must be set for scroll containers to work winth position sticky*/
								overflow-x: auto;
								scroll-snap-type: x mandatory;
				}

				.container > * {
								scroll-snap-align: start;
								scroll-snap-type: x;
								min-width: 100vw; /* force the content to be all the screen width */
				}

				.sidenav {
				  text-align: center;
				  position: sticky;
				  top: 0;
				  margin: 0;
				  max-height: 100vh;
				  overflow-y: auto;
				}

				.sidenav > ul > li {
								list-style: none;
				}
}

/* tablet display and bigger */
@media (min-width: 30em) {
				.nav-text {
								display: none;
				}
				.nav-menu {
								display: none;
				}
				.sidenav {
								display: none;
				}
}

/* desktop displays and bigger */
@media (min-width: 45em) {
				.nav-text {
								display: block;
								flex-grow: 0;
				}
				.hero {
								display: flex;
								align-items: center;
				}
				.hero-image {
								max-width: 60vw;
				}
}

